<template name="home">
	<head>
	  <title>webAuto</title>
	  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	</head>

	<body>
	  {{> header}}
	  {{> nav}}
	  <div class="row">
		<div class=" col-lg-offset-3 col-lg-6 text-center" >
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<hr>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<hr>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	</body>
</template>

<template name="all">
	<head>
	  <title>webAuto</title>
	  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	</head>

	<body>
	  {{> header}}
	  {{> navAll}}
	  {{> formInscription}}
	  {{> login}}
	  {{> form}}
	  {{> container}}  
	</body>
</template>


<template name="read">
	<head>
	  <title>webAuto</title>
	  <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	</head>

	<body>
	  {{> header}}
	  {{> nav}}
	  {{> containerRead}}
	</body>
</template>

<template name="header">

	<div class="container-fluid header">
	  <div class="row">
	    <h1 class="col-lg-4 col-lg-offset-4 text-center"> <strong> WebAuto </strong> Vente de véhicules<span style="margin-left:10px;" class="glyphicon glyphicon-road" aria-hidden="true"></span></h1>
	  </div>
	</div>

</template>

<template name="nav">

	<div class="row">
		<nav class="navbar navbar-inverse col-lg-6 col-lg-offset-3">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand active" href="../">WebAuto</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="../all">All</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

</template>

<template name="navAll">

	<div class="row">
		<nav class="navbar navbar-inverse col-lg-6 col-lg-offset-3">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="../">WebAuto</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">All</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	{{#if currentUser}}
		      	<li><a href="#" class="toggleForm"><span class="glyphicon glyphicon-list-alt"></span> Form</a></li>
		      	<li><a class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      	{{else}}
		        <li><a href="#" class="toggleFormInscri"><span class="glyphicon glyphicon-edit"></span>  Register</a></li>
		        <li><a href="#" class="toggleLogin"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
		        {{/if}}
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>

</template>

<template name="formInscription">
	<div class="row formInscri">
		<form class="form-horizontal col-lg-offset-4 col-lg-4 center-text">
			<fieldset>
		      <legend>Inscription</legend>

				<div class="form-group">
				  <div class="col-md-4">
				  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md"> 
				  </div>
				</div>

		      	<div class="form-group">
				  <div class="col-md-4">
				  <input id="email" name="email" type="email" placeholder="email" class="form-control input-md"> 
				  </div>
				</div>	

				<div class="form-group">
				  <div class="col-md-4">
				  <input id="password" name="password" type="password" placeholder="password" class="form-control input-md"> 
				  </div>
				</div>

			    <div class="form-group">
				  <label class="col-md-4 control-label" for="SUBMIT"></label>
				  <div class="col-md-4">
				    <button id="SUBMIT" name="SUBMIT" class="btn btn-primary">Login</button>
			 	</div>
		</div>
			</fieldset>
		</form>
	</div>
</template>

<template name="form">
	<div class="row form">
		<form class="form-horizontal col-lg-offset-4 col-lg-4">
		<fieldset>

		<!-- Form Name -->
		<legend>Ajouter une voiture</legend>
 
		<!-- Select input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="marque">Selection Marque</label>
		  <div class="col-md-4">
		    <select id="marque" name="marque" class="form-control">
		      <option value="BMW">BMW</option>
		      <option value="AUDI">AUDI</option>
		      <option value="FORD">FORD</option>
		    </select>
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="type">Type</label>  
		  <div class="col-md-4">
		  <input id="type" name="type" type="text" placeholder="Type " class="form-control input-md"> 
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="comment">Commentaire</label>
		  <div class="col-md-4">                     
		    <textarea class="form-control" id="comment" name="comment"></textarea>
		  </div>
		</div>

		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="SUBMIT"></label>
		  <div class="col-md-4">
		    <button id="SUBMIT" name="SUBMIT" class="btn btn-primary">Ajouter</button>
		  </div>
		</div>

		</fieldset>
		</form>
	</div>
</template>

<template name="formEdit">
	<div class="row formEdit">
		<form class="form-horizontal col-lg-offset-4 col-lg-4">
		<fieldset>

		<!-- Form Name -->
		<legend>Editer une voiture</legend>
 
		<!-- Select input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="marque">Selection Marque</label>
		  <div class="col-md-4">
		    <select id="marque" name="marque" class="form-control">
		      <option value="BMW">BMW</option>
		      <option value="AUDI">AUDI</option>
		      <option value="FORD">FORD</option>
		    </select>
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="type">Type</label>  
		  <div class="col-md-4">
		  <input id="type" name="type" value="{{type}}" type="text" placeholder="Type " class="form-control input-md">
		    
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="comment">Commentaire</label>
		  <div class="col-md-4">                     
		    <textarea class="form-control" value="{{comment}}" id="comment" name="comment"></textarea>
		  </div>
		</div>

		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="SUBMIT"></label>
		  <div class="col-md-4">
		    <button id="SUBMIT" name="SUBMIT" class="btn btn-primary">Editer</button>
		  </div>
		</div>

		</fieldset>
		</form>
	</div>
</template>

<template name="container">
	<div class="row">
		<div class=" col-lg-offset-3 col-lg-6 text-center" >
		{{#each autos}}
		  <div class=" col-lg-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3>{{ marque }}</h3>
		        <p>{{ type }}</p>
		        <p>
			        <a href="read/{{_id}}" class="btn btn-success" role="button">See</a> 
			        {{#if currentUser}}
			        <a href="delete/{{_id}}" class="btn btn-danger" role="button">Delete</a>
			        {{/if}}
		    	</p>
		      </div>
		    </div>
		  </div>
		  {{/each}}
		</div>
	</div>
</template>

<template name="login">
<div class="row login">
		<form class="form-horizontal col-lg-offset-4 col-lg-4 center-text">
			<fieldset>
		      <legend>Log In</legend>

				<div class="form-group">
				  <div class="col-md-4">
				  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md"> 
				  </div>
				</div>

				<div class="form-group">
				  <div class="col-md-4">
				  <input id="password" name="password" type="password" placeholder="password" class="form-control input-md"> 
				  </div>
				</div>

			    <div class="form-group">
				  <label class="col-md-4 control-label" for="SUBMIT"></label>
				  <div class="col-md-4">
				    <button id="SUBMIT" name="SUBMIT" class="btn btn-primary">Login</button>
			 	</div>
		</div>
			</fieldset>
		</form>
	</div>
</template>

<template name="containerRead">  
	<div class="row">
		{{> formEdit}}
		<div class=" col-lg-offset-3 col-lg-6 text-center" >
		  
		    <div class="thumbnail">
		      <div class="caption">
		        <h3>{{ marque }}</h3>
		        <p>{{ type }}</p>
		        <hr>
		        <br>
		        <p>{{ comment }}</p>
		        {{#if currentUser}}
		        <button id="edit" name="edit" class="btn btn-warning">Editer</button>
		        {{/if}}
		      </div>
		    
		  </div>
		</div>
	</div>
</template>