/* CSS declarations go here */
body{
	background-color: #EFF5FB;
	font-family: 'Dosis', sans-serif;
}

.header{margin-top: 20px;}

.navbar{margin-top: 30px;}

form{
	border: #424242 solid 2px;
	border-radius: 15px;
	margin-bottom: 20px;
	background-color: #CEECF5;
}